<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudioEng.MicroBuild.Core" version="0.4.1" targetFramework="net451" developmentDependency="true" />
  <package id="NuGet.Build.Tasks.Pack" version="6.10.1" targetFramework="net48" developmentDependency="true" />
</packages>